<div class="container center-block">
  <form id="picForm" class="form-signin" ng-submit="upload()" accept-charset="UTF-8">
    <h2 class="form-signin-heading">Upload picture:</h2>
    <input ng-model="file" type="file" class="form-control" onchange="angular.element(this).scope().file = this" required>
    <input ng-model="picture.title" type="text" class="form-control" placeholder="title" required>
    <textarea ng-model="picture.description" class="form-control" rows="3" placeholder="description"></textarea>
    <button class="btn btn-lg btn-primary btn-block">Upload</button>
  </form>
</div>
