<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <title>Picstorage sign in</title>
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/signin.css" rel="stylesheet"/>
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Picstorage</a>
            </div>
        </div>
    </div>
    <div class="container">
    <form th:action="@{/login}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="username" type="text" class="form-control up" placeholder="Login" required="true" autofocus="true"/>
        <input name="password" type="password" class="form-control down" placeholder="Password" required="true"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="alert alert-danger alert-dismissable" th:if="${param.error}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Invalid username and password.
        </div>
        <div class="alert alert-info alert-dismissable" th:if="${param.logout}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            You have been logged out.
        </div>
    </form>
    <br/>
    <form id="register" class="form-signin" onsubmit="$.ajax({
                                            url: '/rest/reg',
                                            cache: false,
                                            type: 'POST',
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            data :JSON.stringify(
                                                {
                                                    login: document.forms.register.elements.login.value,
                                                    password: document.forms.register.elements.password.value,
                                                    name: document.forms.register.elements.name.value
                                                }),
                                            success: function(json) {
                                                alert('You registered! Try login');
                                            }
                                        }); return false">
        <h2 class="form-signin-heading">Register:</h2>
        <input name="login" type="text" class="form-control up" placeholder="Login" required="true" autofocus="true"/>
        <input name="password" type="password" class="form-control mid" placeholder="Password" required="true"/>
        <input name="name" type="text" class="form-control down" placeholder="You name"/>
        <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
    </form>
    </div>
    </body>
</html>